
body{
    background-color: beige;
}
.main{
   width: 400px;
    text-align: center;
    margin: auto;
    
    
}
#main_container{
    border-top: 1px solid black;
}
h1{
    border: 1px solid black;
    background-color: burlywood;
}
.flex-container{
    display: flex;
    max-width: 400px;
    margin: auto;
    /* border-right: 0.5px solid black; */
    border-left: 0.5px solid black;
    
    
}   
#grid{
    background: rgb(243, 229, 215);
    border-bottom: 0.5px solid black;
    border-right:  0.5px solid black;
    height: 25px;
    width: 25px;
    flex: 1;
}
#grid.Hover{
    background: rgb(0, 0, 0);
}
.pallet{
    display: flex;
    max-width: 275px;
    margin: auto;
}
.pallet div{
    border:  0.5px solid black;
    height: 25px;
    width: 25px;
    flex: 1;
}
#red{
    background-color: red;
}
#black{
    background-color: black;
}

#blue{
    background-color: blue;
}

#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
}
#purple{
    background-color: purple;
}
#orange{
    background-color: orange;
}
#brown{
    background-color: brown;
}
#pink{
    background-color: pink;
}
#gray{
    background-color: gray;
}
#erase{
    /* font-size: small; */
}